.map-screen__wrapper {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .map-screen__wrapper {
    height: calc(100vh - 3rem);
  }
}

.leaflet-container {
  height: 100%;
}

.marker-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid red;
}

.leaflet-div-icon {
  border: none;
  background: transparent;
}

.leaflet-container .leaflet-bottom .leaflet-control {
  margin-bottom: 5rem;
}
