.side-pane__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
  background-color: #ffffff;
  z-index: 999999;
  height: 100vh;
  width: 96px;
}

@media screen and (max-width: 600px) {
  .side-pane__wrapper {
    height: calc(100vh - 3rem);
  }
}

.side-pane {
  padding: 1rem;
  overflow-y: scroll;
  position: relative;
  display: block;
}

.side-pane::-webkit-scrollbar {
  display: none;
}

.side-pane-icon {
  margin: 0.5rem 0;
  cursor: pointer;
}

.side-pane-button {
  text-align: end;
}

.side-pane-button button,
.side-pane-scroll-button {
  font-size: 2rem;
  font-weight: bold;
  color: #4dbaba;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.side-pane-button button:disabled,
.side-pane-scroll-button:disabled {
  color: grey;
  cursor: default;
}
.side-pane-button button.reverse,
.scroll-up {
  transform: rotate(180deg);
}

.side-pane-scroll-button__wrapper {
  text-align: center;
}
